<h1>New Users</h1>

<h2>Create an account...</h2>

<%= form_for :user, url: '/users' do |f| %> 
  Email: <%= f.text_field :email, placeholder: "email address", :autofocus => true %>
  Name: <%= f.text_field :name, placeholder: "name"  %>
  Password: <%= f.password_field :password, placeholder: "password" %>
  Password Confirmation: <%= f.password_field :password_confirmation, placeholder: "password" %>
<%= f.submit "Submit" %>
<% end %>
