<h2> <%= @user.name %> </h2>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @user.hometown %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% @user.photos.each do |user| %>
	<%= link_to(image_tag(user.image, :class => 'thumb'), user) %>
<% end %>

<div class="user nav bar">
    <div class="user back">
      <%= link_to 'Back', users_path %>
    </div>


  <div class="user edit">
  <% if @user == @current_user %>
  <%= link_to'Edit', edit_user_path(@user_id) %> 
  <%= link_to 'Delete',  @user, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
  <% end %>
  </div>
</div>