<%= form_for @photo do |f| %>

  <p>
	<%= label_tag "Photo Name: " %>
    <%= text_field_tag :name %>	
  </p>

  <p>
	<%= label_tag "Photo Image: " %>
	<%= cl_image_upload_tag :file %>
  </p>

	<%= f.submit %>

<% end %>	