<%= form_for @photo, multipart: do |f| %>

	<p>
		<%= label_tag "Photo Name: " %>
		<%= text_field_tag :name %>
	</p>	

	<p>
		<%= label_tag "Photo Image: " %>
		<%= cl_image_upload_tag :file %>
	</p>

	<%= submit_tag "Add Photo" %>

<% end %>	