<h1>Upload A New Photo</h1>

<%= form_tag "/photos", multipart: true do %>
  <p>
    <%= label_tag "Photo Name: " %>
    <%= text_field_tag :name %>
  </p>

  <p>
    <%= label_tag "Photo Image: " %>
    <%= cl_image_upload_tag :file %>
  </p>	

  <p>
     <%= label_tag "Galleries: " %>
     <%= select_tag :gallery_id, options_for_select(Gallery.all.map { |gallery| [ gallery.name, gallery.id ] }),
		:include_blank => true %> 
  </p>


  	<%= submit_tag "Add Photo" %>


<% end %>


<h2>Creative Commons Licenses</h2>

<article>
<h3>What is a CC licence?</h3>

<p>The CC licences provide a simple standardised way for individual creators, companies and institutions to share their work with others on flexible terms without infringing copyright. The licences allow users to reuse, remix and share the content legally.</p>
<p>Offering your work under a Creative Commons licence does not mean giving up your copyright. It means permitting users to make use of your material in various ways, but only on certain conditions.</p>


<h3>Attribution BY</h3>
<p>This applies to every Creative Commons work. Whenever a work is copied or redistributed under a Creative Commons licence, the original creator (and any other nominated parties) must be credited and the source linked to.</p>


<h3>NonCommercial NC</h3>
<p>This applies to every Creative Commons work. Whenever a work is copied or redistributed under a Creative Commons licence, the original creator (and any other nominated parties) must be credited and the source linked to.	Lets others copy, distribute, display and perform the work for noncommercial purposes only.</p>


<h3>No Derivative Works ND</h3>
<p>Lets others distribute, display and perform only verbatim copies of the work. They may not adapt or change the work in any way.
</p>


<h3>Share Alike SA</h3>
<p>Allows others to remix, adapt and build on the work, but only if they distribute the derivative works under the same the licence terms that govern the original work.
</p>

<a href="http://creativecommons.org.au/learn/licences/">Source</a>
</article>